# Django
SECRET_KEY=TH3-$3CR3T
DEBUG=false
ALLOWED_HOSTS=127.0.0.1,localhost

# EMAIL
EMAIL_HOST=mail.talana.com
EMAIL_PORT=587
EMAIL_HOST_USER=hola@talana.com
EMAIL_HOST_PASSWORD=TH3-$3CR3T
EMAIL_USE_TLS=true
